* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("assets/background.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 76);
}

div {
  background-color: white;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

#mainDisplay {
  height: 85vh;
}

.active {
  background-color: rgb(171, 209, 234);
  outline: 5px red solid;
}

#focused {
  background-color: green;
}

.optionButton {
  border-radius: 10px;
  border: 1px rgb(159, 147, 230) solid;
  width: 5vw;
  height: 10vh;
}

.optionButton:hover {
  transition: all;
  background-color: rgb(138, 169, 189);
}

#optionSection {
  overflow-y: scroll;
  outline: none;
  outline-offset: -5px;
  background-color: white;
}
#optionSection::-webkit-scrollbar {
  display: none;
}

#selectSection {
  border: 10px rgb(4, 29, 46) solid;
  overflow-y: scroll;
}

#selectSection::-webkit-scrollbar {
}

.selectButton {
  width: 100px;
}

#avatardisplay {
  width: 50vw;
  border-radius: 10px;
  border: 10px rgb(171, 209, 234) solid;
  position: relative;
  overflow: hidden;
}

.button {
  width: 100px;
  outline-offset: -5px;
}

#avatardisplay img {
  position: absolute;
  left: 50%;

  height: 100%;
  transform: translateX(-50%);
  width: auto;
}

@media (max-width: 768px) {
  #mainDisplay {
    width: 80vw;
    flex-direction: column;
  }

  #avatardisplay {
    height: 100%;
    width: auto;

    display: block;
  }

  #optionSection {
    overflow-x: scroll;
    flex-direction: row;
  }

  .optionButton {
    width: 100%;
  }

  #selectSection {
    height: 30%;
    overflow-x: scroll;
    flex-direction: row;
  }
  #selectSection img {
  }

  .button {
    width: auto;
  }
}
