* {
  margin: 0;
  padding: 0;
  font-family: "Fredoka", system-ui;
}

body {
  background-image: url("assets/background.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 76);
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.active {
  background-color: rgb(186, 224, 249) !important;
  outline: 5px rgb(137, 185, 217) solid;
}

.button {
  width: 100px;
  outline-offset: -5px;
  background-color: white;
}

.cherry-bomb {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.delius {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

#mainDisplay {
  height: 85vh;
  background-color: transparent;
}

#avatardisplay {
  width: 50vw;
  background-color: white;
  border: 10px rgb(171, 209, 234) solid;
  position: relative;
  overflow: hidden;
}

#avatardisplay img {
  position: absolute;
  left: 50%;

  height: 100%;
  transform: translateX(-50%);
  width: auto;
}

#optionSection {
  overflow-y: scroll;
  outline: none;
  outline-offset: -5px;
  background-color: transparent;
}
#optionSection::-webkit-scrollbar {
  display: none;
}

.optionButton {
  border-radius: 10px 0px 0px 10px;
  border: 1px rgb(159, 147, 230) solid;
  outline-offset: -5px;
  width: 5vw;
  height: 10vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionButton:hover {
  transition: all;
  background-color: rgb(138, 169, 189);
}

.optionButton img {
  width: 100%;
  height: auto;
}

#selectMain {
  border: 5px rgb(171, 209, 234) solid;
  background-color: white;
  justify-content: space-between;
}

#selectSection {
  overflow-y: scroll;
}

#selectSection::-webkit-scrollbar {
  background-color: white;
}

#selectSection::-webkit-scrollbar-thumb {
  background-color: rgb(137, 185, 217);
  border-radius: 10px;
}

.selectButton {
  width: 100px;
}

#controllerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  pointer-events: none;
}

#controllerBox .row {
  align-items: center;
}

.adjustButton {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  pointer-events: all;
}
.adjustButton img {
  width: 100%;
  height: 100%;
}

.adjustButton:hover img {
  transition: all 0.3s;
  transform: scale(1.3);
  filter: drop-shadow(3px 3px 5px rgb(171, 209, 234));
}

#reset {
  width: 30px;
  height: 30px;
  margin: 3%;
}

@media (max-width: 768px) {
  #mainDisplay {
    width: 80vw;
    height: auto;
    flex-direction: column;
  }

  #avatardisplay {
    height: 70vh;
    width: auto;

    display: block;
  }

  #optionSection {
    flex-direction: row;
    overflow-x: scroll;
    width: auto;
  }

  .optionButton {
    height: 8vw;
    width: auto;
    border-radius: 10px 10px 0px 0px;
  }

  .optionButton img {
    width: auto;
    height: 100%;
  }

  #selectMain {
    height: 30%;
    flex-direction: row;
    align-items: center;
  }

  #selectSection {
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row;
  }
  #selectSection img {
    height: auto;
  }
}

@media (max-width: 425px) {
  #mainDisplay {
    width: 90vw;
  }

  .optionButton {
    height: 12vw;
    width: auto;
    border-radius: 10px 10px 0px 0px;
  }
}
